* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
  width: 100%;
  height: auto;
  background-color: rgba(206, 206, 206, 0.279);
  padding-bottom: 10vw;
  padding-top: 5vw;
  /* background-color: lightcoral; */
}

#project-header-title {
  font-family: "Preahvihear", "Karla", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.1px;
}
#project-header-subtitle {
  font-size: 1.9vw;
}
.projects-list {
  width: 95%;
  display: grid;
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-between;
  row-gap: 6vw;
}
.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}
.project-container:hover {
  transform: translateY(-10px);
}
.project-image {
  width: 100%;
  height: fit-content;
  background-color: red;
}
.project-image img {
  width: 100%;
  height: 100%;
}
.project-details {
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.project-details-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.fa-calendar {
  font-size: 1.1vw;
  margin-right: 0.1vw;
  color: #6b7280;
}
#project-date {
  font-size: 1.2vw;
  color: #6b7280;
}
#project-subtitle {
  color: #6b7280;
}
.project-language-used {
  display: flex;
  justify-content: flex-end;
}
.project-language-used > button {
  backdrop-filter: blur(10px);
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 8px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
  margin-right: 4px;
  letter-spacing: 0.1px;
  font-size: 1vw;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.project-language-used > button:hover {
  transform: translateY(-3px);
}
#project-button-img {
  width: 15px;
  height: 15px;
}
