* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*language div*/
.language-details {
  display: flex;
  gap: 10px;
  width: 200px;
  background-color: transparent;
  padding: 2px;
  white-space: nowrap;
}
.language-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.language-img img {
  width: 25px;
}
.language-title {
  display: flex;
  flex-direction: column;
}
#language-title-main {
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 16px;
}
#language-title-submain {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #9898a1;
}
.language-item {
  display: flex;
  gap: 10px;
  white-space: nowrap;
}
/*infinite carousel*/
.language-wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.language-wrapper::before,
.language-wrapper::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50px;
  z-index: 1000;
  top: 0;
  bottom: 0;
}
.language-wrapper::before {
  background: linear-gradient(
    to left,
    rgba(225, 225, 225, 0),
    rgba(255, 255, 255, 0.5)
  );
  left: 0;
}
.language-wrapper::after {
  background: linear-gradient(
    to right,
    rgba(225, 225, 225, 0),
    rgba(255, 255, 255, 0.5)
  );
  right: 0;
}
.language-item {
  max-width: fit-content;
  display: flex;
  flex: 0 0 auto;
  animation: rightSlide 15s linear infinite;
}
.language-wrapper:hover .language-item {
  animation-play-state: paused !important;
}
.language-wrapper:hover .language-details {
  filter: grayscale(1);
}
.language-wrapper .language-details:hover {
  filter: grayscale(0);
}
@keyframes rightSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.language-wrapper[reverse="true"] .language-item {
  animation: reverse rightSlide 15s linear infinite;
}
@media (max-width: 800px) {
  .language-details {
    gap: 5px;
    width: 180px;
    padding: 2px;
  }

  .language-img img {
    width: 20px;
  }

  #language-title-main {
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 14px;
  }
  #language-title-submain {
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  .language-item {
    display: flex;
    gap: 15px;
    white-space: nowrap;
  }
}
