@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap");
body {
  font-family: "Preahvihear";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.project-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 10px;
  padding: 2vw;
}
.project-box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 5px black;
}
.project-image {
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-image img {
  width: 150px;
}
.project-details {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  gap: 1vw;
}
.project-title {
  font-size: 2vw;
}
.project-description {
  font-size: 1.3vw;
  color: grey;
}
.project-language {
  display: flex;
  justify-content: space-between;
}
.project-language > button {
  border: none;
  padding: 0.8vw;
  border-radius: 10px;
  background-color: rgba(144, 57, 225, 0.265);
  color: blueviolet;
}
